<!DOCTYPE html>

<html>

   <head>
      <title>URL Shortener</title>
      <link rel="shortcut icon" href="/shorturl/public/favicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/shorturl/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>
nodeURLShortener Microservice</h2>
        
        <h3>Short URL Creation </h3>
        <p>
          example: <code>POST https://projects.fairchild.dev/shorturl/api/new</code> - <code>https://www.google.com</code>
        </p>
        <form action="/shorturl/api/new" method="POST">
          <label for="url_input">URL to be shortened</label>
          <input id="url_input" type="text" name="url" value="https://www.example.com">
          <input type="submit" value="POST URL">
        </form>
        <h3>Example Usage:</h3>
        <a href="/shorturl/api/0">
          https://projects.fairchild.dev/shorturl/api/0
        </a>

        <h3>Will Redirect to:</h3>
        <p>https://www.google.com/</p>
      </div>
      <div class="footer">
        <p>
          by <a href="https://fairchild.dev">Cameron Fairchild</a>
        </p>
      </div>
   </body>
</html>